@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #f5f5f5;
    --color-primary: #1c1c22;
    --color-accent: #00b66d;
    --color-accent-hover: #009e5f;
    --color-accent-foreground: #1c1c22;
  }

  .dark,
  .dark-theme {
    --color-background: #1c1c22;
    --color-primary: #f5f5f5;
    --color-accent: #00ff99;
    --color-accent-hover: #00e187;
    --color-accent-foreground: #1c1c22;
  }

  body {
    @apply antialiased font-mono;
  }
  * {
    @apply box-border;
  }
}

html,
body {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

html {
  overflow: hidden;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  font-synthesis: none;
}
