@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 245 245 245;
    --color-background-accent: 232 232 233;
    --color-primary: 28 28 34;
    --color-secondary: 99 90 97;
    --color-accent: 0 182 109;
    --color-accent-hover: 0 158 95;
    --color-accent-foreground: 255 255 255;
  }

  .dark,
  .dark-theme {
    --color-background: 28 28 34;
    --color-background-accent: 40 39 44;
    --color-primary: 245 245 245;
    --color-secondary: 169 170 177;
    --color-accent: 0 255 153;
    --color-accent-hover: 0 225 135;
    --color-accent-foreground: 28 28 34;
  }

  body {
    @apply antialiased font-mono;
  }
  * {
    @apply box-border;
  }
}

html,
body {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

html {
  overflow: hidden;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  font-synthesis: none;
}
